[submodule "layer_driver/device"]
	path = layer_driver/device
	url = https://github.com/KITrobopuro/device-discovery.git
[submodule "ichigoplus"]
	path = ichigoplus
	url = https://github.com/KITrobopuro/ichigoplus.git
